@charset "UTF-8";
.mt-0 {
  margin-top: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  transition: background 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}

.btn:active {
  opacity: 0.8;
}

.btn:focus {
  outline: 2px dashed rgba(102, 102, 102, 0.5);
}

.btn.-xsmall {
  padding: 7px 0.625rem;
  font-size: 0.8125rem;
}

.btn.-small {
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
}

.btn.-medium {
  padding: 7px 1.25rem;
  font-size: 1rem;
}

.btn.-large {
  padding: 1.25rem 1.5625rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.btn.-black {
  background-color: #25262b;
  color: #fff;
}

.btn.-black:active {
  background-color: #3d3e46;
}

.btn.-border {
  border-color: #25262b;
}

.btn.-border:active {
  background: #03a87c;
  color: #fff;
  border-color: #03a87c;
}

.btn.-greenBorder {
  border-color: #03a87c;
  color: #03a87c;
}

.btn.-link {
  text-decoration: underline;
}

.btn.-white {
  background-color: #fff;
  color: #25262b;
}

.btn.-greenBtn {
  background: #03a87c;
  color: #fff;
  position: relative;
}

.btn.-red {
  background: #d0021b;
  color: #fff;
}

.btn.-guestLogin {
  height: 50px;
  font-weight: 600;
}

.btn.-facebook {
  border: solid 1px #3b5997;
  color: #3b5997;
  position: relative;
  height: 50px;
}

.btn.-facebook:before {
  font-family: "boyner-mobile" !important;
  content: "";
  font-size: 22px;
  position: absolute;
  left: 5%;
  top: calc(50% - 15px);
}

.btn.-twitter {
  border: solid 1px #1aa1f3;
  color: #1aa1f3;
  position: relative;
  height: 50px;
}

.btn.-twitter:before {
  font-family: "boyner-mobile" !important;
  content: "";
  font-size: 22px;
  position: absolute;
  left: 5%;
  top: calc(50% - 15px);
}

.btn.-arrow:after {
  font-family: "boyner-mobile" !important;
  content: "";
  position: absolute;
  right: 5%;
  top: calc(50% - 16px);
}

.btn.-back {
  position: relative;
  padding-left: 25px !important;
  font-weight: 700;
}

.btn.-back:before {
  font-family: "boyner-mobile" !important;
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
  font-size: 1rem;
}

.btn.-rounded {
  border-radius: 100px;
}

.select-list {
  position: relative;
}

.select-list .select-control {
  background: #fff;
  height: 40px;
  padding: 0 40px 0 0.9375rem;
  font-size: 1rem;
  border: 1px solid #bbbcbf;
  outline: none;
  -webkit-appearance: none;
  border-radius: 5px;
}

.select-list .select-control:focus {
  border-color: #25262b;
}

.select-list .select-control.-err {
  border-color: #d0021b;
}

.select-list:after {
  font-family: "boyner-mobile";
  content: "";
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  line-height: calc(39px - 2px);
  pointer-events: none;
  padding: 2px 0.625rem;
  color: #9b9b9b;
}

.select-list.-medium .select-control {
  height: 50px;
}

.select-list.-medium:after {
  line-height: 49px;
}

.form-element {
  position: relative;
}

.form-element .lookPassword {
  opacity: 0;
  position: absolute;
  right: 26px;
  top: 28px;
  font-size: 0.875rem;
  cursor: default;
}

.form-element.-focus .focus-input ~ .focus-label {
  font-size: 0.75rem;
  top: 15px;
  color: #545454;
}

.form-element.-focus .lookPassword {
  opacity: 1;
}

.form-element .focus-input,
.form-element .focus-textarea {
  border: solid 1px #bbbcbf;
  border-radius: 5px;
  height: 70px;
  padding: 15px 1.25rem 0 1.25rem;
  font-size: 1.125rem;
  width: 100%;
}

.form-element .focus-input ~ .focus-label,
.form-element .focus-textarea ~ .focus-label {
  position: absolute;
  transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  left: 26px;
  top: 26px;
  font-size: 1rem;
}

.form-element .focus-input:focus ~ .focus-label,
.form-element .focus-textarea:focus ~ .focus-label {
  font-size: 0.75rem;
  top: 15px;
  color: #545454;
}

.form-element .focus-input:focus,
.form-element .focus-textarea:focus {
  border-color: #25262b;
}

.form-element .focus-textarea {
  resize: none;
  height: 100px;
}

.form-control {
  background: #fff;
  color: #545454;
  height: 40px;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #bbbcbf;
  outline: none;
  -webkit-appearance: none;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #25262b;
}

.form-control.-err {
  border-color: #d0021b;
}

.form-control.-small {
  padding: 0.3125rem 0.9375rem;
}

.form-control.-cvv {
  width: 110px;
}

.-errMsg {
  color: #d0021b;
  margin: 0.3125rem 0;
}

.custom-radio {
  position: absolute;
  opacity: 0;
  display: none;
}

.custom-radio ~ .custom-radio-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 20px;
  height: 20px;
}

.custom-radio ~ .custom-radio-label:after {
  content: "";
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #9b9b9b;
}

.custom-radio:checked ~ .custom-radio-label {
  font-weight: 700;
}

.custom-radio:checked ~ .custom-radio-label:after {
  border: 1px solid #03a87c;
}

.custom-radio:checked ~ .custom-radio-label:before {
  content: "";
  background: #03a87c;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  z-index: 1;
  left: 3px;
  top: 3px;
}

.custom-checkbox {
  opacity: 0;
  display: none;
}

.custom-checkbox ~ .custom-checkbox-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.custom-checkbox ~ .custom-checkbox-label:after {
  content: "";
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #9b9b9b;
}

.custom-checkbox:checked ~ .custom-checkbox-label:after {
  border: 1px solid #03a87c;
  background: #03a87c;
  font-family: "boyner-mobile" !important;
  content: "";
  color: #fff;
  font-size: 0.625rem;
  padding: 3px 4px;
}

.form-row {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}

.form-row .ml-20 {
  margin-left: 20px;
}

.form-row .label {
  font-size: 1rem;
  color: #25262b;
}

.form-rows {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-rows .form-group {
  margin-bottom: 10px;
}

.form-rows .form-control,
.form-rows .select-control {
  width: 100%;
}

.form-rows > col,
.form-rows > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-rows .-agreement {
  font-size: 0.875rem;
  color: #545454;
}

.form-rows .or {
  text-align: center;
  position: relative;
  width: 100%;
}

.form-rows .or:before {
  content: "";
  background: #bbbcbf;
  width: 100%;
  height: 1px;
  top: 50%;
  display: block;
  position: absolute;
}

.form-rows .or span {
  background: #fff;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1.25rem 0.625rem;
  font-size: 0.875rem;
}

.o-formType.-classic .form-row {
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.o-formType.-classic .form-row label {
  display: block;
  font-weight: 700;
}

.input-group-prepend {
  position: absolute;
  top: 23px;
  left: 26px;
  font-size: 25px;
}

.input-group .form-control {
  padding-left: 65px;
}

.input-group .focus-label {
  left: 70px !important;
}

.o-step {
  display: flex;
}

.o-step__item {
  flex-basis: 50%;
  padding: 0.9375rem 0;
  background-color: #e9eaeb;
  color: #7e7e7e;
  text-align: center;
}

.o-step__item.-active {
  border-bottom: 2px solid;
  color: #03a87c;
}

.o-step__title {
  font-size: 1rem;
}

.o-orderSummary {
  padding: 0.9375rem;
  margin: 1.875rem 0.9375rem;
  border-radius: 5px;
  background-color: #f7f6f6;
}

.o-orderSummary__item {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  border-bottom: 1px solid #e9eaeb;
}

.o-orderSummary__item:last-child {
  border-bottom: 0;
}

.o-orderSummary__total {
  color: #03a87c;
}

.o-simpleSubTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem;
  background: #03a87c;
}

.o-simpleSubTotal__item {
  color: #fff;
}

.o-simpleSubTotal__item--btn {
  flex-direction: row-reverse;
  color: #fff !important;
  font-weight: 700;
  text-transform: uppercase;
}

.o-simpleSubTotal__item--btn::before {
  margin-left: 0.625rem;
}

.o-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
}

.o-modal.-open {
  display: flex;
}

.o-modal.-open .o-modal__content {
  opacity: 1;
}

.o-modal__content {
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.o-modal__header {
  width: 100%;
}

.o-modal__body {
  overflow: auto;
  height: calc(100vh - 106px);
  padding: 0.9375rem;
}

.o-modal__title {
  margin: 0.9375rem 0;
  font-size: 1.25rem;
}

.o-modal__description {
  margin: 0.9375rem 0;
  font-size: 0.875rem;
}

.o-simpleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1.25rem;
  height: 50px;
  z-index: 1;
  position: relative;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 0px 7px -1px rgba(0, 0, 0, 0.2);
}

.o-simpleHeader .a-headerFuncBtn {
  font-weight: 700;
}

.o-simpleHeader .a-headerFuncBtn::before {
  margin-right: 0.3125rem;
  font-weight: 700;
}

.o-simpleHeader .a-callCenter {
  font-size: 26px;
  color: #545454;
}

.o-simpleHeader .a-secureLogo {
  height: 30px;
}

[v-cloak] {
  display: none;
}

.o-loadingLarge {
  position: absolute;
  background: #fff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.o-loadingLarge__img {
  margin-bottom: 0.9375rem;
}

[data-delivery] {
  padding-bottom: 56px;
}

[data-delivery] .o-simpleSubTotal {
  position: fixed;
  z-index: 11;
  bottom: 0;
  width: 100%;
}

.o-address {
  padding: 0.9375rem;
}

.o-address__box {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
  border: 1px dashed #bbbcbf;
  border-radius: 5px;
  font-size: 0.875rem;
}

.o-address__box::before {
  margin-right: 0.9375rem;
  font-size: 1.125rem;
}

.o-address__box.-addAddress {
  padding: 0.9375rem;
  color: #03a87c;
  cursor: pointer;
}

.o-address__box.-selectShop {
  padding: 0.9375rem;
  cursor: pointer;
}

.o-address__box.-shop {
  cursor: pointer;
}

.o-address__box.-shop .o-address__label {
  padding: 0.9375rem;
}

.o-address__box.-shop .o-address__select::after {
  min-width: auto;
}

.o-address__box.-shop .o-address__radio:checked ~ .o-address__label {
  padding: 0.625rem;
}

.o-address__box.-shop .o-address__radio:checked ~ .o-address__label .o-address__select::before {
  margin-bottom: 0;
  font-size: 1.625rem;
}

.o-address__box.-shop .o-address__radio:checked ~ .o-address__label .o-address__select::after {
  content: "";
}

.o-address__radio {
  display: none;
}

.o-address__radio:checked ~ .o-address__label {
  background-color: #03a87c;
  color: #fff;
}

.o-address__radio:checked ~ .o-address__label .o-address__select::before {
  display: flex;
  margin-bottom: 0.3125rem;
  font-size: 1.875rem;
}

.o-address__radio:checked ~ .o-address__label .o-address__select::after {
  content: "Seçili";
}

.o-address__radio:checked ~ .o-address__label .o-address__deleteEdit {
  display: flex;
}

.o-address__radio:checked ~ .o-address__label .o-address__delete {
  color: #fff;
}

.o-address__radio:checked ~ .o-address__label .o-address__edit {
  color: #fff;
}

.o-address__label {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.625rem;
  cursor: pointer;
}

.o-address__select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.9375rem;
  font-size: 0.6875rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.o-address__select::before {
  display: none;
}

.o-address__select::after {
  content: "Seç";
  min-width: 35px;
}

.o-address__detail {
  display: flex;
  flex-direction: column;
}

.o-address__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.625rem;
  line-height: 1.5rem;
}

.o-address__deleteEdit a {
  margin-right: 0.625rem;
  font-weight: 700;
}

.o-address__name {
  margin-right: 0.9375rem;
  font-weight: 700;
}

.o-address__phone {
  margin-right: 0.9375rem;
}

.o-address__deleteEdit {
  display: none;
}

.o-address__sameAddress {
  font-size: 0.875rem;
  margin-bottom: 0.9375rem;
}

/*# sourceMappingURL=maps/delivery.css.map */
