@charset "UTF-8";
.mt-0 {
  margin-top: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  user-select: none;
  transition: background .3s ease;
  border-radius: 5px;
}

.btn:active {
  opacity: .8;
}

.btn:focus {
  outline: 2px dashed rgba(102, 102, 102, 0.5);
}

.btn.-xsmall {
  padding: 7px 0.625rem;
  font-size: 0.8125rem;
}

.btn.-small {
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
}

.btn.-medium {
  padding: 7px 1.25rem;
  font-size: 1rem;
}

.btn.-large {
  padding: 1.25rem 1.5625rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.btn.-black {
  background-color: #25262b;
  color: #fff;
}

.btn.-black:active {
  background-color: #3d3e46;
}

.btn.-border {
  border-color: #25262b;
}

.btn.-border:active {
  background: #03a87c;
  color: #fff;
  border-color: #03a87c;
}

.btn.-greenBorder {
  color: #03a87c;
  border-color: #03a87c;
}

.btn.-link {
  text-decoration: underline;
}

.btn.-white {
  background-color: #fff;
  color: #25262b;
}

.btn.-greenBtn {
  position: relative;
  background: #03a87c;
  color: #fff;
}

.btn.-red {
  background: #d0021b;
  color: #fff;
}

.btn.-guestLogin {
  height: 50px;
  font-weight: 600;
}

.btn.-facebook {
  position: relative;
  height: 50px;
  border: solid 1px #3b5997;
  color: #3b5997;
}

.btn.-facebook:before {
  content: "";
  position: absolute;
  top: calc(50% - 15px);
  left: 5%;
  font-family: "boyner-mobile" !important;
  font-size: 1.375rem;
}

.btn.-twitter {
  position: relative;
  height: 50px;
  border: solid 1px #1aa1f3;
  color: #1aa1f3;
}

.btn.-twitter:before {
  content: "";
  position: absolute;
  top: calc(50% - 15px);
  left: 5%;
  font-family: "boyner-mobile" !important;
  font-size: 1.375rem;
}

.btn.-arrow:after {
  content: "";
  position: absolute;
  top: calc(50% - 16px);
  right: 5%;
  font-family: "boyner-mobile" !important;
}

.btn.-back {
  position: relative;
  padding-left: 25px !important;
  font-weight: 700;
}

.btn.-back:before {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  font-family: "boyner-mobile" !important;
  font-size: 1rem;
}

.btn.-rounded {
  border-radius: 100px;
}

.sizeChart .h4 {
  display: none;
}

.sizeChart .tab-wrap {
  background-color: #f0f0f0;
}

.sizeChart .tab-wrap .tab-list {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  margin-bottom: 0.625rem;
  border-top: 0.5px solid #d0d0d0;
  border-bottom: 0.5px solid #d0d0d0;
  background-color: #fff;
}

.sizeChart .tab-wrap .tab-list li {
  min-width: 110px;
  padding: 1.25rem;
  color: #505050;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: lowercase;
}

.sizeChart .tab-wrap .tab-list li::first-letter {
  text-transform: capitalize;
}

.sizeChart .tab-wrap .tab-list li.active {
  border-bottom: 2px solid #03a87c;
  color: #1d1d1d;
}

.sizeChart .tab-wrap .tab-content-wrap {
  background-color: #fff;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content {
  display: none;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content.reveal {
  display: block;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-content {
  padding: 1.5625rem;
  margin-bottom: 150px;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list {
  border-top: 0.5px solid #d0d0d0;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .open-acc {
  position: relative;
  display: flex;
  padding: 1.5625rem 1.25rem;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .open-acc::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: calc(100% - 20px);
  border-bottom: 0.5px solid #d0d0d0;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .open-acc.active {
  font-weight: 700;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .open-acc.active::after {
  display: none;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .open-acc.active .icon-plus {
  top: 23px;
  background-image: url("/img/arrow-up.svg");
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .open-acc .icon-plus {
  position: absolute;
  top: 23px;
  right: 20px;
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("/img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .content-acc {
  display: none;
  overflow-x: auto;
  border-bottom: 0.5px solid #d0d0d0;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .content-acc table {
  width: 100%;
  border-collapse: collapse;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .content-acc table thead tr th {
  width: 1%;
  padding: 0.625rem 1.25rem;
  color: #505050;
  font-size: 0.875rem;
  text-align: center;
  white-space: nowrap;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .content-acc table thead tr th:last-child {
  width: 100%;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .content-acc table tbody tr {
  height: 38px;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .content-acc table tbody tr:nth-child(odd) {
  background: #f0f0f0;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .content-acc table tbody tr td {
  width: 1%;
  color: #1d1d1d;
  font-size: 0.875rem;
  text-align: center;
}

.sizeChart .tab-wrap .tab-content-wrap .tab-content .table-list .content-acc table tbody tr td:last-child {
  width: 100%;
}

.o-productModalInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.25rem;
  background-color: #fafafa;
}

.o-productModalInfo__image {
  display: flex;
}

.o-productModalInfo__description {
  margin-left: 1.25rem;
}

.o-productModalInfo__brand {
  margin-bottom: 0.3125rem;
  color: #1d1d1d;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
}

.o-productModalInfo__title {
  color: #1d1d1d;
  font-size: 0.75rem;
  line-height: 16px;
}

.swiper-product-slider {
  position: relative;
}

.swiper-slide {
  display: flex;
}

.swiper-slide-empty {
  align-items: center;
  min-height: 490px;
}

.swiper-slide-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  background-color: rgba(29, 29, 29, 0.5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background-color: #1d1d1d;
}

.swiper-button-next,
.swiper-button-prev {
  width: 36px;
  height: 36px;
  background-image: none;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  left: 1.25rem;
}

.swiper-button-prev:before {
  background-image: url("/img/arrow_left.svg");
}

.swiper-button-next {
  right: 1.25rem;
}

.swiper-button-next:before {
  background-image: url("/img/arrow_right.svg");
}

.swiper-zoom-container {
  flex-direction: column;
}

.swiper-lazy {
  width: 100%;
}

.swiper-empty-image {
  width: 60px;
  height: 60px;
  margin: auto;
}

.o-loading {
  display: flex;
  flex-direction: row;
  padding: 1.25rem 0.625rem;
  background-color: #fff;
}

.o-loading__container {
  width: 100%;
}

.o-loading__item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 0.625rem;
}

.o-loading__line {
  width: 100%;
  height: 15px;
  margin-bottom: 1.25rem;
  background-color: #f0f0f0;
  animation: pulse 1s infinite ease-in-out;
}

.o-loading__image {
  width: 100px;
  height: 100px;
  margin-right: 0.625rem;
  margin-bottom: 1.25rem;
  background-color: #f0f0f0;
  animation: pulse 1s infinite ease-in-out;
}

.o-loading__separator {
  width: 100%;
  height: 2px;
  margin: 0.3125rem 0 1.5625rem 0;
  background-color: #f0f0f0;
}

.o-loading__list {
  display: flex;
  align-items: center;
}

.o-loading .-right {
  align-items: flex-end;
}

.o-loading .-inline {
  flex-direction: row;
}

.o-loading .-inline .o-loading__line {
  margin-right: 0.625rem;
}

.o-loading .-h30p {
  height: 30px;
}

.o-loading .-h45p {
  height: 45px;
}

.o-loading .-w10p {
  width: 10%;
}

.o-loading .-w20p {
  width: 20%;
}

.o-loading .-w30p {
  width: 30%;
}

.o-loading .-w40p {
  width: 40%;
}

.o-loading .-w50p {
  width: 50%;
}

.o-loading .-w60p {
  width: 60%;
}

.o-loading .-w70p {
  width: 70%;
}

.o-loading .-w80p {
  width: 80%;
}

.o-loading .-w90p {
  width: 90%;
}

.o-loading .-w100p {
  width: 100%;
}

.-wrap {
  flex-flow: wrap;
}

@keyframes pulse {
  0% {
    background-color: rgba(157, 157, 157, 0.1);
  }
  50% {
    background-color: rgba(157, 157, 157, 0.3);
  }
  100% {
    background-color: rgba(157, 157, 157, 0.1);
  }
}

.o-modal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
}

.o-modal.-open {
  display: flex;
}

.o-modal.-open .o-modal__content {
  opacity: 1;
}

.o-modal__content {
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.o-modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 1.25rem;
  border-bottom: 0.5px solid #d0d0d0;
  background: #fff;
  color: #1d1d1d;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.o-modal__close {
  position: absolute;
  top: 13px;
  left: 25px;
  border: none;
}

.o-modal__body {
  overflow: auto;
  height: calc(100vh - 106px);
  padding: 0.9375rem;
}

.o-modal__body.-fullScreen {
  height: calc(100vh - 50px);
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.o-modal__title {
  margin: 0.9375rem 0;
  font-size: 1.25rem;
}

.o-modal__description {
  margin: 0.9375rem 0;
  font-size: 0.875rem;
}

.o-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fff;
}

.o-slider {
  position: relative;
  padding: 0;
  margin-top: 0;
  background-color: #fff;
}

.o-slider.-visible {
  padding: 1.25rem;
  margin-top: 0.625rem;
}

.o-slider__header {
  margin-bottom: 1.25rem;
  color: #1d1d1d;
  font-size: 1rem;
  line-height: 22px;
}

.o-slider__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.625rem;
  text-align: left;
}

.o-slider__brand {
  margin-bottom: 2px;
  color: #1d1d1d;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
}

.o-slider__productName {
  overflow: hidden;
  margin-bottom: 0.625rem;
  color: #1d1d1d;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.o-slider__oldPrice {
  margin-bottom: 2px;
  color: #9b9b9b;
  font-size: 0.875rem;
  line-height: 18px;
  text-decoration: line-through;
}

.o-slider__price {
  margin-bottom: 0.625rem;
  color: #1d1d1d;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
}

.o-slider__colorOptions {
  color: #9b9b9b;
  font-size: 0.75rem;
  line-height: 16px;
}

.o-slider__sliderLink {
  width: 100%;
}

.o-slider__clearContent {
  position: absolute;
  top: 22px;
  right: 20px;
  color: #9b9b9b;
  font-size: 0.875rem;
  line-height: 20px;
}

.o-product {
  background-color: #f0f0f0;
}

.o-product__detail {
  padding: 1.25rem;
  background-color: #fff;
}

.o-product__brand {
  margin-bottom: 0.3125rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
}

.o-product__brandLink {
  color: #1d1d1d;
}

.o-product__subtitle {
  font-size: 0.875rem;
  line-height: 20px;
}

.o-product__subtitleLink {
  color: #1d1d1d;
}

.o-product__name {
  padding-bottom: 1.5625rem;
  color: #1d1d1d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}

.o-product__isFreeCargo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem 0 0 0;
  border-top: 0.5px solid #d0d0d0;
  color: #1d1d1d;
  font-size: 1rem;
}

.o-product__freeCargoIcon {
  width: 18px;
  margin-top: 2px;
  margin-right: 0.9375rem;
  fill: #03a87c;
}

.o-product__freeCargoIconPath {
  fill-rule: evenodd;
}

.o-product__sizeChart {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
  border-top: 0.5px solid #d0d0d0;
}

.o-product__sizeChartButton {
  color: #1d1d1d;
  font-family: "Avenir", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  line-height: 18px;
}

.a-discountBadge {
  position: absolute;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 30px;
  padding: 0 0.9375rem;
  margin-top: -50px;
  background-color: #ee403d;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
}

/*# sourceMappingURL=maps/product-detail.css.map */
