<script type="text/x-template" id="basket-list">
	<div class="o-basket__item">
		<a href="" class="o-basket__productImg">
			<img :src="product.imageUrl" alt="">
		</a>
		<div class="o-basket__content">
			<div class="o-basket__productBtn bo-close" @click="$emit('remove-item', product)"></div>
			<div class="o-basket__productDesc">
				<h3 class="o-basket__productDesc--name">{{product.productName}}</h3>
				<div class="o-basket__variation">
					<div class="o-basket__variation--item" v-for="variant in product.variants">
						<strong class="o-basket__variation--label">Renk:</strong>
						{{variant.color}}, 
						<strong class="o-basket__variation--label">Beden:</strong>
						{{variant.size}}
					</div>
				</div>
			</div>
			<div class="o-basket__productInfo">
				<div class="select-list">
					<select name="quantity" class="select-control" v-model="product.quantity">
						<option v-for="option in product.stock" :value="option.value">{{option.value}}</option>
					</select>
				</div>
				<div class="o-basket__productPrice">
					<div class="m-productPrice">
						<div class="m-productPrice__content">
							<span class="a-m-productPrice -oldPrice">{{ product.oldPrice | currency }}</span>
							<span class="a-m-productPrice -salePrice">{{ product.salePrice | currency }}</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		
		
		<!-- <div class="o-basket__productAction">
			<a href="" class="o-basket__productAction--item nw-gift">
				<span class="-underline">Hediye paketi istiyorum</span>
			</a>
			<a href="" class="o-basket__productAction--item nw-heart-o">
				<span class="-underline">Favori</span>
			</a>
		</div> -->
	</div>
</script>