<script type="text/x-template" id="payment-method">
	<div class="o-checkout__panel -active">
		<div class="o-checkout__panel--header">
			<h3 class="-title">Kredi Kartı / Banka Kartı</h3>
			<i class="bo-arrow-down"></i>
		</div>
		<div class="o-checkout__panel--content">
			<div class="o-masterpass">
				<!-- <label for="modal">Open</label>
				<input type="checkbox" id="modal" modal class="modal__checkbox" checked onclick="change()"> -->

				<!-- inject:/src/html/partials/modal/_mp-otp.html -->
				<!-- endinject -->

				<!-- inject:/src/html/partials/modal/_mp-delete.html -->
				<!-- endinject -->

				<!-- inject:/src/html/partials/modal/_mp-cvv.html -->
				<!-- endinject -->
				<div class="o-masterpass__message">
					<div class="o-masterpass__message--content">
						<h3 class="o-masterpass__message--title">Masterpass’e kayıtlı kartlarınız var!</h3>
						<p class="o-masterpass__message--text">
							<strong id="phoneNumber">0536 850 43 27</strong> nolu cep telefonu ile Masterpass'e kayıtlı kartlarınız var. Bu kartları Boyner’de kullanmak
							istiyor musunuz?
						</p>
						<img class="o-masterpass__message--img" src="/img/masterpass.png" alt="">
					</div>
					<button type="button" class="btn -red -medium" @click="showModal(1)">Evet</button>
				</div>
				<div class="o-masterpass__list">
						<div class="o-masterpass__list--item">
							<div class="radio">
								<input class="custom-radio" type="radio" name="mastercard" id="isbank_mc1" checked>
								<label class="custom-radio-label" for="isbank_mc1" @click="changePaymentType(0)">
									<img class="-img" src="/img/bonuscard.png" alt="">
									<span>Uğur’s İşbankası - </span>
									<strong>554960***********12</strong>
								</label>
							</div>
							<span class="btn-link -delete" @click="showModal(2)">Sil</span>
						</div>
						<div  class="o-masterpass__list--item">
							<div class="radio">
								<input class="custom-radio" type="radio" name="mastercard" id="isbank_mc2">
								<label class="custom-radio-label" for="isbank_mc2" @click="changePaymentType(0); showModal(3)">
									<img class="-img" src="/img/bonuscard.png" alt="">
									<span>Naim Bonus - </span>
									<strong>554960***********12</strong>
								</label>
							</div>
							<span class="btn-link -delete">Sil</span>
						</div>
						<div class="o-masterpass__list--item">
							<div class="radio">
								<input class="custom-radio" type="radio" name="mastercard" id="otherCard">
								<label class="custom-radio-label" for="otherCard" @click="changePaymentType(1)">
									<b>Başka bir kart ile devam etmek istiyorum.</b>
								</label>
							</div>
						</div>
				</div>
			</div>

			<form class="o-creditCard" :class="{ '-open': (1 === selectedId) }">
				<div class="form-row row">
					<label class="col-4 -labelName" for="cardName">Kartın üzerindeki İsim:</label>
					<input type="text" class="form-control -small col-5" id="cardName">
				</div>
				<div class="form-row row">
					<label class="col-4 -labelName" for="cardNumber">Kart Numarası:</label>
					<input type="text" class="form-control -small col-5" id="cardNumber">
					<img src="/img/mastercard.png" class="-cardType" id="visaOrMaster">
					<img src="/img/bonuscard.png" class="-cardType" id="cardType">
				</div>
				<div class="form-row row">
					<label class="col-4 -labelName" for="monthCard">Son Kullanma Tarihi:</label>
					<div class="select-list">
						<select name="month" id="monthCard" class="select-control">
							<option>Seçiniz</option>
							<option v-for="month in 12" :value="month">{{month}}</option>
						</select>
					</div>
					<div class="select-list ml-20">
						<select name="year" class="select-control">
							<option>Seçiniz</option>
							<option v-for="year in 12" :value="year">{{year}}</option>
						</select>
					</div>
				</div>
				<div class="form-row row">
					<label class="col-4 -labelName" for="securityCode">Güvenlik Kodu:</label>
					<input type="text" class="form-control -small -cvv" id="securityCode">
					<div class="info col-6">
						<i class="info-ico">?</i>
						<p class="info-text">Kartınızın arka yüzünde bulunan son 3 rakam (Amex kartlarda son 4 rakam)</p>
					</div>
				</div>
				<div class="o-masterpass">
					<div class="-mpCheckbox">
						<input class="custom-checkbox" type="checkbox" name="agreement" id="saveMasterpass" @click="masterpassActive = !masterpassActive" checked>
						<label class="custom-checkbox-label" for="saveMasterpass">
							Kredi kartı bilgilerimin MasterPass ile kaydedilmesini onaylıyorum.
						</label>
						<img src="/img/masterpass.png" class="-mpLogo" alt="">
					</div>
					<div class="o-masterpass__save" v-if="masterpassActive">
						<strong class="o-masterpass__save--note">Kredi kartı bilgileriniz Boynertarafından saklanmamaktadır, ödeme altyapısı MasterPass tarafından sağlanmaktadır.
						</strong>
						<div class="row o-masterpass__save--form">
							<div class="col-5">
								<label class="-labelName" for="cardName">Kartınıza vermek istediğiniz isim:</label>
								<input type="text" class="form-control -small" id="cardTitleName">
							</div>
							<div class="col-5">
								<label class="-labelName" for="cardName">Cep Telefonunuz:</label>
								<input type="tel" class="form-control -small" id="phoneNumber" placeholder="_ _ _    _ _ _    _ _    _ _">
							</div>
							<div class="col-2">
								<button type="button" class="btn -red -medium">Kaydet</button>
							</div>
						</div>
						<p class="o-masterpass__save--text">
							MasterPass ödemesi aşağıdaki kredi kartlarıyla yapılabilir.
							<br>
							<br> Akbank, Denizbank, Finansbank, HSBC, ING Bank, TEB, Garanti Bankası, İş Bankası, Yapı ve Kredi Bankası, Ziraat
							Bankası, Vakıfbank, Odeabank
						</p>
					</div>
				</div>
			</form>
			<div class="o-installment">
				<div class="o-installment__header">
					<h4>Taksit Seçenekleri</h4>
					<p>
						<span>Yukarıda</span> alanda kredi kartınızı girdikten sonra taksit tablosu listelenecektir.</p>
				</div>
				<div class="o-installment__table">
					<div class="o-installment__table--header">
						<div class="-name">
							Kaç Taksit
						</div>
						<div class="-name">
							Aylık Ödeme
						</div>
						<div class="-name">
							Toplam Tutar
						</div>
					</div>
					<div class="o-installment__table--item" v-for="option in 5" :class="{ '-active': option == isActive }">
						
								<input class="custom-radio" type="radio" name="installment" :id="option">

								<label class="custom-radio-label" :for="option" @click="isActive = option">
										<span class="-name">{{option == 1 ? 'Peşin' : option + ' Taksit'}}</span>
									<span class="-name">
											11.251,00 TL
										</span>
										<span class="-name">
											11.251,00 TL
										</span>
								</label>
					
						
					</div>
				</div>
			</div>
		</div>
	</div>
</script>