<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Boyner.com.tr | Teslimat</title>
	<link href="https://fonts.googleapis.com/css?family=Arimo:400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- vendor:css -->
	<!-- endinject -->
	<!-- main:css -->
	<link rel="stylesheet" href="../../../css/main.css">
	<!-- endinject -->
	<!-- page:../../../css/delivery.css -->
	<link rel="stylesheet" href="../../../css/delivery.css">
	<!-- endinject -->
</head>

<body>
	<!-- inject:../src/html/partials/header/_simple-header.html -->
	<header class="o-simpleHeader">
    <a class="a-headerFuncBtn btn bo-arrow-left" href="#">Geri</a>
    <a class="a-headerLogo" href="#">
        <img src="/img/boyner.svg" alt="">
    </a>
    <img class="a-secureLogo" src="/img/globalsign.svg" alt="Secure Global Sign">
</header>
	<!-- endinject -->
	<div class="main" data-delivery>
		<ul class="o-step">
			<li class="o-step__item -active">
				<h3 class="o-step__title">Teslimat Bilgileri</h3>
			</li>
			<li class="o-step__item">
				<h3 class="o-step__title">Güvenli Ödeme</h3>
			</li>
		</ul>
		<div class="o-address">
			<div class="o-address__box">
				<input class="o-address__radio" id="deliveryAddress1" name="delivery-address" type="radio" checked>
				<label class="o-address__label" for="deliveryAddress1">
					<div class="o-address__select bo-check-bg"></div>
					<div class="o-address__detail">
						<div class="o-address__info">
							<div class="o-address__name">
								Uğur Küçüker
							</div>
							<div class="o-address__phone">
								532 555 5555
							</div>
							<div class="o-address__description">
								Abbasağa Mah. Salnameci Sok. Abbasağa Parkı G Kapısı No: 9 Daire: 4 Beşiktaş/İstanbul
							</div>
						</div>
						<div class="o-address__deleteEdit">
							<a class="o-address__delete" href="#" title="Sil">Sil</a>
							<a class="o-address__edit" href="#" title="Düzenle">Düzenle</a>
						</div>
					</div>
				</label>
			</div>
			<div class="o-address__box">
				<input class="o-address__radio" id="deliveryAddress2" name="delivery-address" type="radio">
				<label class="o-address__label" for="deliveryAddress2">
					<div class="o-address__select bo-check-bg"></div>
					<div class="o-address__detail">
						<div class="o-address__info">
							<div class="o-address__name">
								Uğur Küçüker
							</div>
							<div class="o-address__phone">
								532 555 5555
							</div>
							<div class="o-address__description">
								Abbasağa Mah. Salnameci Sok. Abbasağa Parkı G Kapısı No: 9 Daire: 4 Beşiktaş/İstanbul
							</div>
						</div>
						<div class="o-address__deleteEdit">
							<a class="o-address__delete" href="#" title="Sil">Sil</a>
							<a class="o-address__edit" href="#" title="Düzenle">Düzenle</a>
						</div>
					</div>
				</label>
			</div>
			<div class="o-address__box -addAddress bo-plus" v-on:click="showAddressModal">
				Yeni Adres Ekle
			</div>
			<div class="o-address__sameAddress">
				<input class="custom-checkbox" id="bill" name="bill" type="checkbox">
				<label class="custom-checkbox-label" for="bill">Faturam yukarıdaki adrese gelsin.</label>
			</div>
			<div class="o-address__box -selectShop" v-on:click="showShopModal">
				<div class="o-address__select"></div>
				Mağazadan Teslimat
			</div>
		</div>
		<!-- inject:../src/html/partials/checkout/_order-summary.html -->
		<ul class="o-orderSummary">
	<li class="o-orderSummary__item">Sepet Tutarı
		<span>504,12 TL</span>
	</li>
	<li class="o-orderSummary__item">Kargo Toplam
		<span class="o-orderSummary__total">0,00 TL</span>
	</li>
</ul>
		<!-- endinject -->
		<!-- inject:../src/html/partials/checkout/_simple-sub-total.html -->
		<div class="o-simpleSubTotal">
	<div class="o-simpleSubTotal__item">
		Toplam:
		<strong class="o-simpleSubTotal__item--price">1.233,34 TL</strong>
	</div>
	<div class="o-simpleSubTotal__item">
		<a href="#" class="btn o-simpleSubTotal__item--btn bo-arrow-right-bold">
			Devam et
		</a>
	</div>
</div>
		<!-- endinject -->
		<!-- inject:../src/html/partials/modal/_add-address.html -->
		<script type="text/x-template" id="address-modal">
	<div class="o-modal -open">
		<div class="o-modal__content">
			<div class="o-modal__header">
				<div class="o-simpleHeader">
					<div class="a-headerFuncBtn btn bo-close" v-on:click="hideAddressModal">Kapat</div>
					<div class="a-headerLogo">
						<img src="/img/boyner.svg" alt="">
					</div>
					<img class="a-secureLogo" src="/img/globalsign.svg" alt="Secure Global Sign">
				</div>
			</div>
			<form id="addAddressForm" data-validate>
				<div class="o-modal__body">
					<h3 class="o-modal__title">Yeni Adres Ekle</h3>
					<div class="form-rows">
						<div class="form-group form-element col-6">
							<input class="focus-input form-control" id="address-name" type="text" minlength="2" maxlength="50" title="Lütfen adres başlığını giriniz."
							pattern="^[a-zA-ZğĞıİüÜöÖşŞçÇ]*$" required>
							<label class="focus-label" for="address-name">Adres Başlığı:</label>
						</div>
						<div class="form-group form-element col-6">
							<input class="focus-input form-control" id="name" type="text" minlength="2" maxlength="50" title="Lütfen ad soyad / firma giriniz."
							pattern="^[a-zA-ZğĞıİüÜöÖşŞçÇ]*$" required>
							<label class="focus-label" for="name">Ad Soyad / Firma:</label>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group form-element col-12">
							<input class="focus-input form-control" id="email" type="email" title="Lütfen e-posta adresi giriniz." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$"
							required>
							<label class="focus-label" for="email">E-Posta Adresiniz:</label>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group form-element col-12">
							<textarea class="focus-textarea form-control" id="address" name="address" placeholder="Adres Giriniz:"></textarea>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group select-list -medium col-6">
							<select class="select-control" name="city" type="select-one" required>
								<option value="" selected>İl Seçiniz</option>
								<option value="01">İstanbul</option>
							</select>
						</div>
						<div class="form-group select-list -medium col-6">
							<select class="select-control" name="district" type="select-one" required>
								<option value="" selected>İlçe Seçiniz</option>
								<option value="01">Kadıköy</option>
							</select>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group form-element col-6">
							<input class="focus-input form-control" id="phone" type="tel" minlength="10" maxlength="10" title="Lütfen cep telefonu numaranızı giriniz."
							pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$" required>
							<label class="focus-label" for="phone">Cep Telefonu:</label>
						</div>
						<div class="form-group form-element col-6">
							<input class="focus-input form-control" id="post-code" type="number" minlength="5" maxlength="5" title="Lütfen posta kodunuzu giriniz."
							pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$">
							<label class="focus-label" for="post-code">Posta Kodu:</label>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group form-element col-12">
							<div class="o-address__sameAddress">
								<input class="custom-checkbox" id="bill1" name="bill1" type="checkbox" checked>
								<label class="custom-checkbox-label" for="bill1">
									Faturam yukarıdaki adrese gelsin.
								</label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</script>
		<!-- endinject -->
		<!-- inject:../src/html/partials/modal/_select-shop.html -->
		<script type="text/x-template" id="shop-modal">
	<div class="o-modal -open">
		<div class="o-modal__content">
			<div class="o-modal__header">
				<div class="o-simpleHeader">
					<div class="a-headerFuncBtn btn bo-close" v-on:click="hideShopModal">Kapat</div>
					<div class="a-headerLogo">
						<img src="/img/boyner.svg" alt="">
					</div>
					<img class="a-secureLogo" src="/img/globalsign.svg" alt="Secure Global Sign">
				</div>
			</div>
			<form id="selectShopForm" data-validate>
				<div class="o-modal__body">
					<h3 class="o-modal__title">Mağazadan Teslimat</h3>
					<p class="o-modal__description">Siparişimin Tıkla Gel ile
						<b>YKM</b> veya
						<b>Boyner</b> mağazalarına gönderilmesini istiyorum.</p>
					<div class="form-rows">
						<div class="form-group form-element input-group col-12">
								<span class="bo-search input-group-prepend"></span>
								<input class="focus-input form-control" id="search" type="search" title="Lütfen mağaza adı giriniz." pattern="^[a-zA-ZğĞıİüÜöÖşŞçÇ]*$"
								required>
								<label class="focus-label" for="search">Mağaza Adı Giriniz:</label>
						</div>
					</div>
					<div class="o-address__box -shop">
						<input class="o-address__radio" id="akasya" name="shop" type="radio" checked>
						<label class="o-address__label" for="akasya">
							<div class="o-address__select bo-check-bg"></div>
							Akasya Boyner Mağazası
						</label>
					</div>
					<div class="o-address__box -shop">
						<input class="o-address__radio" id="nautilus" name="shop" type="radio" checked>
						<label class="o-address__label" for="nautilus">
							<div class="o-address__select bo-check-bg"></div>
							Nautilus Boyner Mağazası
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</script>
		<!-- endinject -->
		<address-modal v-if="isShownAddressModal" v-on:close="isShownAddressModal=false;"></address-modal>
		<shop-modal v-if="isShownShopModal" v-on:close="isShownShopModal=false;"></shop-modal>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- vendor:js -->
	<script src="../../../js/vendors/validate.js"></script>
	<script src="../../../js/vendors/validityState-polyfill.js"></script>
	<!-- endinject -->
	<!-- page:../../../js/pages/checkout/delivery.js -->
	<script src="../../../js/pages/checkout/delivery.js"></script>
	<!-- endinject -->
</body>

</html>