<script type="text/x-template" id="address-modal">
	<div class="o-modal -open">
		<div class="o-modal__content">
			<div class="o-modal__header">
				<div class="o-simpleHeader">
					<div class="a-headerFuncBtn btn bo-close" v-on:click="hideAddressModal">Kapat</div>
					<div class="a-headerLogo">
						<img src="/img/boyner.svg" alt="">
					</div>
					<img class="a-secureLogo" src="/img/globalsign.svg" alt="Secure Global Sign">
				</div>
			</div>
			<form id="addAddressForm" data-validate>
				<div class="o-modal__body">
					<h3 class="o-modal__title">Yeni Adres Ekle</h3>
					<div class="form-rows">
						<div class="form-group form-element col-6">
							<input class="focus-input form-control" id="address-name" type="text" minlength="2" maxlength="50" title="Lütfen adres başlığını giriniz."
							pattern="^[a-zA-ZğĞıİüÜöÖşŞçÇ]*$" required>
							<label class="focus-label" for="address-name">Adres Başlığı:</label>
						</div>
						<div class="form-group form-element col-6">
							<input class="focus-input form-control" id="name" type="text" minlength="2" maxlength="50" title="Lütfen ad soyad / firma giriniz."
							pattern="^[a-zA-ZğĞıİüÜöÖşŞçÇ]*$" required>
							<label class="focus-label" for="name">Ad Soyad / Firma:</label>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group form-element col-12">
							<input class="focus-input form-control" id="email" type="email" title="Lütfen e-posta adresi giriniz." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$"
							required>
							<label class="focus-label" for="email">E-Posta Adresiniz:</label>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group form-element col-12">
							<textarea class="focus-textarea form-control" id="address" name="address" placeholder="Adres Giriniz:"></textarea>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group select-list -medium col-6">
							<select class="select-control" name="city" type="select-one" required>
								<option value="" selected>İl Seçiniz</option>
								<option value="01">İstanbul</option>
							</select>
						</div>
						<div class="form-group select-list -medium col-6">
							<select class="select-control" name="district" type="select-one" required>
								<option value="" selected>İlçe Seçiniz</option>
								<option value="01">Kadıköy</option>
							</select>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group form-element col-6">
							<input class="focus-input form-control" id="phone" type="tel" minlength="10" maxlength="10" title="Lütfen cep telefonu numaranızı giriniz."
							pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$" required>
							<label class="focus-label" for="phone">Cep Telefonu:</label>
						</div>
						<div class="form-group form-element col-6">
							<input class="focus-input form-control" id="post-code" type="number" minlength="5" maxlength="5" title="Lütfen posta kodunuzu giriniz."
							pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$">
							<label class="focus-label" for="post-code">Posta Kodu:</label>
						</div>
					</div>
					<div class="form-rows">
						<div class="form-group form-element col-12">
							<div class="o-address__sameAddress">
								<input class="custom-checkbox" id="bill1" name="bill1" type="checkbox" checked>
								<label class="custom-checkbox-label" for="bill1">
									Faturam yukarıdaki adrese gelsin.
								</label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</script>