<script type="text/x-template" id="shop-modal">
	<div class="o-modal -open">
		<div class="o-modal__content">
			<div class="o-modal__header">
				<div class="o-simpleHeader">
					<div class="a-headerFuncBtn btn bo-close" v-on:click="hideShopModal">Kapat</div>
					<div class="a-headerLogo">
						<img src="/img/boyner.svg" alt="">
					</div>
					<img class="a-secureLogo" src="/img/globalsign.svg" alt="Secure Global Sign">
				</div>
			</div>
			<form id="selectShopForm" data-validate>
				<div class="o-modal__body">
					<h3 class="o-modal__title">Mağazadan Teslimat</h3>
					<p class="o-modal__description">Siparişimin Tıkla Gel ile
						<b>YKM</b> veya
						<b>Boyner</b> mağazalarına gönderilmesini istiyorum.</p>
					<div class="form-rows">
						<div class="form-group form-element input-group col-12">
								<span class="bo-search input-group-prepend"></span>
								<input class="focus-input form-control" id="search" type="search" title="Lütfen mağaza adı giriniz." pattern="^[a-zA-ZğĞıİüÜöÖşŞçÇ]*$"
								required>
								<label class="focus-label" for="search">Mağaza Adı Giriniz:</label>
						</div>
					</div>
					<div class="o-address__box -shop">
						<input class="o-address__radio" id="akasya" name="shop" type="radio" checked>
						<label class="o-address__label" for="akasya">
							<div class="o-address__select bo-check-bg"></div>
							Akasya Boyner Mağazası
						</label>
					</div>
					<div class="o-address__box -shop">
						<input class="o-address__radio" id="nautilus" name="shop" type="radio" checked>
						<label class="o-address__label" for="nautilus">
							<div class="o-address__select bo-check-bg"></div>
							Nautilus Boyner Mağazası
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</script>