<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Boyner.com.tr | Üye Girişi</title>
	<!-- inject:../src/html/partials/header/_meta.html -->
	<link rel="preconnect" href="https://statics.boyner.com.tr">
<link rel="preconnect" href="https://stats.g.doubleclick.net">
<link rel="preconnect" href="https://googleads.g.doubleclick.net">
<link rel="preconnect" href="https://www.google.com">
<link rel="preconnect" href="https://www.google.com.tr">
<link rel="preconnect" href="https://adservice.google.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://www.googleadservices.com">
<link rel="preconnect" href="https://boyner.api.useinsider.com">
<link rel="preconnect" href="https://socialproof.api.useinsider.com">
<link rel="preconnect" href="https://api.useinsider.com">
<link rel="preconnect" href="https://hit.api.useinsider.com">
<link rel="preconnect" href="https://cdn.primewidgets.com">
<link rel="preconnect" href="https://connect.facebook.net">
<link rel="preconnect" href="https://www.facebook.com">
<link rel="preconnect" href="https://lgr.visilabs.net">
<link rel="preconnect" href="https://s.visilabs.net">
<link rel="preconnect" href="https://vsh.visilabs.net">
<link rel="preconnect" href="https://sslwidget.criteo.com">
<link rel="preconnect" href="https://dis.eu.criteo.com">
<link rel="preconnect" href="https://dis.criteo.com">
<link rel="preconnect" href="https://ads.yahoo.com/">

<link rel="dns-prefetch" href="https://statics.boyner.com.tr">
<link rel="dns-prefetch" href="https://stats.g.doubleclick.net">
<link rel="dns-prefetch" href="https://googleads.g.doubleclick.net">
<link rel="dns-prefetch" href="https://www.google.com">
<link rel="dns-prefetch" href="https://www.google.com.tr">
<link rel="dns-prefetch" href="https://adservice.google.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://www.googleadservices.com">
<link rel="dns-prefetch" href="https://boyner.api.useinsider.com">
<link rel="dns-prefetch" href="https://socialproof.api.useinsider.com">
<link rel="dns-prefetch" href="https://api.useinsider.com">
<link rel="dns-prefetch" href="https://hit.api.useinsider.com">
<link rel="dns-prefetch" href="https://cdn.primewidgets.com">
<link rel="dns-prefetch" href="https://connect.facebook.net">
<link rel="dns-prefetch" href="https://www.facebook.com">
<link rel="dns-prefetch" href="https://lgr.visilabs.net">
<link rel="dns-prefetch" href="https://s.visilabs.net">
<link rel="dns-prefetch" href="https://vsh.visilabs.net">
<link rel="dns-prefetch" href="https://sslwidget.criteo.com">
<link rel="dns-prefetch" href="https://dis.eu.criteo.com">
<link rel="dns-prefetch" href="https://dis.criteo.com">
<link rel="dns-prefetch" href="https://ads.yahoo.com/">

<link rel="preload" href="https://statics.boyner.com.tr/staticfiles/v2/fonts/Avenir/AvenirLTStd-Roman.woff2" as="font" type="font/woff2" crossorigin="">
<link rel="preload" href="https://statics.boyner.com.tr/staticfiles/v2/fonts/boyner/boyner.woff2" as="font" type="font/woff2" crossorigin="">
	<!-- endinject -->
	<!-- main:css -->
	<link rel="stylesheet" href="../../../css/main.css">
	<!-- endinject -->
	<!-- page:../../../css/account.css -->
	<link rel="stylesheet" href="../../../css/account.css">
	<!-- endinject -->
</head>
<body>
	<!-- inject:../src/html/partials/checkout/_header.html -->
	<header class="o-header">
	<a href="#" title="Boyner">
		<img src="/img/boyner.svg" width="141" height="20" class="a-boynerLogo" />
	</a>
</header>
	<!-- endinject -->
	<div class="container" data-account v-cloak>
		<error-message></error-message>
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="o-formTabs">
						<input class="m-tabRadio" id="logintab" name="logintabs" type="radio" value="login" v-model="activeTab">
						<label class="m-tab" v-bind:class="{'-active': activeTab === 'login'}" for="logintab">Giriş Yap</label>
						<input class="m-tabRadio" id="signuptab" name="logintabs" type="radio" value="signup" v-model="activeTab">
						<label class="m-tab" v-bind:class="{'-active': activeTab === 'signup'}" for="signuptab">Üye Ol</label>
					</div>
				</div>
				<form id="loginform" data-validate v-show="activeTab === 'login'" v-on:submit.prevent="login" action="#">
					<div class="o-inputWrapper">
						<input class="m-input" id="loginemail" type="text" title="Lütfen geçerli bir e-posta adresi giriniz" v-model="email" placeholder=" " pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
						<label class="m-label">E-Posta Adresi</label>
					</div>
					<div class="o-inputWrapper">
						<button class="m-inputOverBtn" type="button" v-on:click="changeInputType"><img src="/img/icons/eye-slash.svg" height="12"></button>
						<input class="m-input" id="loginpassword" v-bind:type="passwordInputType" title="Lütfen parola giriniz" v-model="password" placeholder=" " required>
						<label class="m-label">Şifre</label>
					</div>
					<div class="m-linkWrapper -right">
						<span class="m-link">Şifremi unuttum?</span>
					</div>
					<button class="m-btn -primary -large -loading" v-if="loading">
						<div class="a-bounce1"></div>
						<div class="a-bounce2"></div>
						<div class="a-bounce3"></div>
					</button>
					<button class="m-btn -primary -large" type="submit" v-if="!loading">Giriş Yap</button>
					<div class="o-or">
						<p class="o-orText">ya da</p>
					</div>
					<button class="m-btn -facebook" type="button" v-on:click="getUserData">Facebook ile Giriş Yap</button>
					<button class="m-btn -google" type="button">Google ile Giriş Yap</button>
				</form>
			</div>
		</div>
	</div>

	<script src="https://statics.boyner.com.tr/staticfiles/v2/scripts/polyfill/0.0.1/polyfill.min.js"></script>
	<script src="https://statics.boyner.com.tr/staticfiles/v2/scripts/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://statics.boyner.com.tr/staticfiles/v2/scripts/vue/2.6.8/vue.js"></script>
	<!-- <script src="https://statics.boyner.com.tr/staticfiles/v2/scripts/axios/0.18.0/axios.min.js"></script> -->
	<script src="https://statics.boyner.com.tr/staticfiles/v2/scripts/vue-the-mask/0.11.1/vue-the-mask.js"></script>

	<!-- page:../../../js/vendors/validate.js -->
	<script src="../../../js/vendors/validate.js"></script>
	<!-- endinject -->
	<!-- page:../../../js/polyfills/validityState-polyfill.js -->
	<script src="../../../js/polyfills/validityState-polyfill.js"></script>
	<!-- endinject -->

	<!-- page:../../../js/pages/account/account.js -->
	<script src="../../../js/pages/account/account.js"></script>
	<!-- endinject -->

	<script async defer src="https://connect.facebook.net/tr_TR/sdk.js"></script>

	<script>
			window.fbAsyncInit = function () {
				FB.init({
						appId: '293100487553761',
						xfbml: true,
						version: 'v2.2'
				});
			};
	</script>

</body>
</html>
